<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Gutenberg Project{% endblock %}</title>
    <meta name="description" content="Download free ebooks." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css" media="screen, projection" type="text/css" />
    <script src="jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="datatables/media/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="datatables/media/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="css/style.css" media="screen, projection" type="text/css" />
    <script src="js/tools.js" type="text/javascript"></script>
    <script src="languages.js" type="text/javascript"></script>
    <script src="authors.js" type="text/javascript"></script>
    <script id="books_script" type="text/javascript"></script>
  </head>
  <body onload="init(); showBooks();">
    <div id="header">
      <div id="top-menu" class="container">
        <a href="Home.html">
          <img alt="Homepage" id="logo1" src="css/logo_1.png" title="Homepage" />
          <div>
            Project Gutenberg Library</br>
            The first producer of free ebooks
          </div>
        </a>
      </div>
      <div id="bottom-menu" class="container">
        <a href="home.html">
          <img alt="Homepage" id="logo2" src="css/logo_2.png" title="Homepage" />
        </a>
        <div class="filter">
          <div>Filter:</div>
          <input id="language_filter" placeholder="Language..." />
          <input id="author_filter" placeholder="Author..." />
        </div>
        <div class="sort" id="sort">
          <div>Sort:</div>
          <button id="popularity_sort" class="sort_button" onclick="minimizeUI()"></button>
          <button id="alpha_sort" class="sort_button" onclick="minimizeUI()"></button>
        </div>
      </div>
    </div>
    {% block precontent %}{% endblock %}
    <div id="content" class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
