{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
<h2>Author: {{ book.author.name() }}</h2>
{% if book.subtitle %}
<h3>Subtitle: {{ book.subtitle }}</h3>
{% endif %}
<h4>License: {{ book.license.name }}</h4>
<h5>Downloads: {{ book.downloads }}</h5>

<h2>Formats</h2>
<ul>
    {% for format in formats %}
    <li>{{ format }}</li>
    {% endfor %}
</ul>

{% if cover_img %}
<img src="{{ cover_img }}" />
{% endif %}
{% endblock %}
