<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Project Gutenberg</title>
  <meta name="description" content="Download free ebooks." />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en" />
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="css/style.css" media="screen, projection" type="text/css" />
</head>

<body>

  <div id="header">

    <div id="top-menu" class="container">
      <a href="index.html">
	<img alt="Homepage" id="logo" src="css/logo.png" title="Homepage" />
	<div>
	  Project Gutenberg Library</br>
	  The first producer of free ebooks
	</div>
      </a>
    </div>

    <div id="bottom-menu" class="container">
	<ul class="menu">
          <li id="language_filter">
            <a href="">Language</a>
          </li>
          <li id="author_filter">
            <a href="">Author</a>
          </li>
          <li id="title_filter">
            <a href="">Title</a>
          </li>
	</ul>

	<div class="sort">
	  Sort:
	  <img src="css/popularity_icon.png" />
	  <img src="css/alpha_icon.png" />
	</div>

    </div>

  </div>

<div class="container">
  <div id="home-about" class="span-24 prepend-top last append-bottom clearfix">
  </div>
</div>

<div class="container">
</div>

</body>
</html>
