/* Fonts */

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.ttf');
}
/* Global stuff */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del, dfn,
em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

body {
    font-family: "Helvetica Neue",Verdana,Helvetica,sans-serif;
    font-size: 75%;
    line-height: 1.5;
    color: #333333;
    background: #f9f9f9;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    margin: 0 auto;
}

th {
    text-align: left;
    color: #333;
}

td {
    color: #333;
}

/* Header top-menu */

#top-menu {
    height: 90px;
    background: #D00000;
}

#top-menu a {
    text-decoration: none;
    color: inherit;
}

#top-menu a img {
    float: right;
    margin: 4px;
    margin-right: 7px;
}

/* Header bottom-menu */

#bottom-menu {
    height: 75px;
    background: #D00000;
    padding-top: 25px;
}

#bottom-menu a img {
    display: none;
    float: left;
    margin-top: 1px;
    margin-left: 13px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-menu-item,
.ui-menu-item:hover,
.ui-menu-item:link,
.ui-menu-item:focus,
.ui-menu-item:active
.ui-menu-item:visited {
    /*background: #ddd!important;*/
    background: white;
    border: #ffffff;
    height: 30px!important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #D00000;
    color: #333;
    background: #f9f9f9;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #D00000;
    background: none;
    color: #333;
}

.filter {
    float: left;
    margin-left: 20px;
    margin-top: 1em;
    font-family: Arial,sans-serif;
    color: #333;
}

.filter > div {
    display: block;
    float: left;
    height: 23px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 23px;
}

/*.filter > input {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    height: 12px;
}*/

.sort {
    float: right;
    height: 100%;
    padding-bottom: 12px;
    padding-right: 7px;
    font-family: Arial,sans-serif;
}

.sort > div {
    display: block;
    float: left;
    height: 23px;
    margin-top: 6px;
    font-size: 16px;
    line-height: 23px;
}

#popularity_sort {
    width: 32px;
    height: 27px;
    margin: 4px 0 0 10px;
}

#alpha_sort {
    width: 29px;
    height: 27px;
    margin: 4px 0 0 5px;
}

#alpha_sort > span {
    top: 11px;
    left: 12px;
}

#popularity_sort > span {
    top: 11px;
    left: 12px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    line-height: 1.5;
    padding: inherit;
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
}

/* About */

#home-about {
    margin: 1.5em 0 1.5em 0;
    text-align: center;
    font-size: 20px;
    color: #333;
}

/* Books */

#content {
    margin-bottom: 15px;
}

table.display td {
    cursor: pointer;
    * cursor: hand;
}

input {
    /*height: 30px;*/
    border: 1px solid #d9dbdd;
    font-size: 1.5em;
    padding-left: .3em;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    border-radius: 0.3125em;
    font-family: 'RobotoLight';
}

select.filter_ui {
    font-family: "RobotoLight";
    font-size: 1.5em;
}

input:hover,
input:focus {
    border: 1px solid #bbbdbe;
}

::-webkit-input-placeholder {
    color: #858d9c;
}

:-moz-placeholder {
    color: #858d9c;
}

.ui-autocomplete {
    background: #ffffff
}

.ui-autocomplete {
    width: 14.7em;
}

/* Cover */

h1 {
    font-size: 3em;
    font-family: "RobotoThin";
    margin: auto;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    line-height: 1em; /*required for mobile*/
    max-width: 700px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#cover {
    float: left;
    margin: 1em;
}

#cover img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.698);
}

img.cover-art {
    max-width: 100%;
}

div.bibrec {
    margin: 0 auto;
    width: 100%;
    margin-top: 2.5em;
}

table.bibrec {
    font-size: 1.5em;
    background: white;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    max-width: 700px;
    min-width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

table.bibrec th {
    background: #DDDDDD;
    padding: 12px;
    font-size: 1.2em;
    font-family: "RobotoLight";
}


table.bibrec td {
    padding: 12px;
    font-size: 1.2em;
    font-family: "RobotoCondensedBold";
    border-top: 1px solid #dddddd!important;
    padding-left: 20px;
}

table.bibrec tr:first-child td {
 border-top: 0 !important;
}


div.bibrec img {
    margin: 1em;
}

.text {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
}

.main {
    padding-left: 5em;
    padding-right: 5em;
}


.bolder {
    font-family: "RobotoBold";
    margin-top: 10px;
}

.light {
    font-family: "RobotoThin";
    font-size: 19px;
}

.data-table {
    font-family: "RobotoRegular";
    font-size: 15px;
    max-width: 900px!important;
}

tr {
    padding: 20px;
}

.table-title {
    font-family: RobotoCondensedBold;
    font-size: 1.4em;
}

.table-author {
    font-family: "RobotoLight";
    color: rgba(43, 34, 34, 0.88);
}

div.list-stripe {
    width: 10px;
    min-height: 65px;
    background: #D00000;
    float: left;
    margin-right: 20px;
}

tr.odd {
    background-color: white!important;
}

table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
    background-color: whitesmoke!important;
}

.title-div {
    padding-top: 43px;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 37px;
}


.top-title {
    font-family: "RobotoCondensedRegular";
    font-size: 40px;
    color: white;
}

.sub-title {
    font-family: "RobotoThin";
    font-size: 19px;
    color: white;

}

.fa-search {
    font-size: smaller;
    vertical-align: top;
    padding-top: 2px;
    padding-right: 4px;
}

.fa-3x {
    height: inherit;
    color: white;
    margin-top: 12px;
    padding-right: 20px;
    cursor: pointer;
    * cursor: hand;
}

.fa-3x:hover {
    color: #333;
}

.fa-3x-selected {
    color: #333;
}

.fa-2x {
    color: #D00000;
    font-size: 3em!important;
    padding-right: 10px;
}

.fa-2x:hover {
    color: #333;
}

.fa-6x {
    color: #D00000;
    font-size: 5.5em!important;
    padding: 0px 30px 0px 30px;
    margin-top: 5px;
}

.fa-6x:hover {
    color: black;
}

dataTables_wrapper
.dataTables_length,
.dataTables_wrapper
.dataTables_filter,
.dataTables_wrapper
.dataTables_info,
.dataTables_wrapper
.dataTables_processing,
.dataTables_wrapper
.dataTables_paginate {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.table-icons {
    text-align: right;
    vertical-align: middle;
}


.l10nselector{
    position: absolute;
    right: 1em;
    top: 1em;
}

button {
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #D9DBDD;
    margin-left: 20px;
    height: 25px;
    margin-top: 12px;
    border-radius: 0.3125em;
    width: 10em;
}

button.search {
    width: 10em;
    height: auto;
    border-radius: 0.3125em;
    background: none repeat scroll 0% 0% transparent;
    border: 1px solid #D9DBDD;
    font-size: 1.5em;
    font-family: "RobotoLight";
    cursor: pointer;
    margin-left: auto;
    color: white;
    /*font-weight: bold;*/
}

/*button:hover {
    background: whitesmoke!important;
}*/

button.search:hover {
    background: white;
    color: black;
}

.icons-footer {
    text-align: center;
    margin-top: 3em;
}

/* mobile */
@media (max-width: 650px) {
    /*No l10n selector*/
    .l10nselector {
        display: none;
    }
}

@media (max-width: 640px) {
    table.bibrec {
        width: 100%;
        min-width: 200px;
    }

    .sub-title {
        display: none;
    }
    .top-title {
        font-size: 20px;
    }
    .title-div {
        padding-top: 2px;
        line-height: 24px;
    }
    #top-menu {
        height: auto;
    }


    body.home #bottom-menu {
        padding-top: 1.5em;
        padding-bottom: 1em;
        height: auto;
    }

    body.cover #bottom-menu {
        padding-top: 1.5em;
        padding-bottom: 1em;
        height: auto;
    }

    body.cover #bottom-menu .filter,
    body.cover #bottom-menu .sort {
        display: none;
    }

    .text.container, .main {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .sort {
        width: 100%;
        text-align: center;
        padding-top: 1em;
        padding-bottom: .3em;
        float: none;
        margin: auto
    }
    .sort * {
        /*color: #333 !important;*/
        margin: auto;
    }

    #cover {
        float: none;
    }

    .cover-art {
        max-width: 100%;
    }
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-family: "RobotoLight"!important;
    border: 0!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: red;
}

.paginate_button.current {
    background: #BABABA!important;
}

.dataTables_wrapper table thead{
    display:none!important;
}

.dataTables_wrapper table {
    border-bottom: 0!important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.info-desc {
    font-family: "RobotoThin";
    font-size: 0.9em;
    padding-top: 5px;
}

/* Spinner */
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important; /*change to YOUR page height*/
    background-color: #FFF;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 998;
}

.spinner > img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
