/* Fonts */

@font-face {
    font-family: 'RobotoLight'; 
    src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin.ttf');
}
/* Global stuff */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del, dfn,
em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
}

body {
    font-family: "Helvetica Neue",Verdana,Helvetica,sans-serif;
    font-size: 75%;
    line-height: 1.5;
    color: #333333;
    background: #f9f9f9;
}

a {
    text-decoration: none;
}

.container {
    display: block;
    margin: 0 auto;
}

th {
    text-align: left;
    color: #000000;
}

td {
    color: #000000;
}

/* Header top-menu */

#top-menu {
    height: 73px;
    background: #D00000;
}

#top-menu a {
    text-decoration: none;
    color: inherit;
}

#top-menu a img {
    float: right;
    margin: 4px;
    margin-right: 7px;
}

/* Header bottom-menu */

#bottom-menu {
    height: 75px;
    background: #D00000;
    padding-top: 25px;
}

#bottom-menu a img {
    display: none;
    float: left;
    margin-top: 1px;
    margin-left: 13px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-menu-item,
.ui-menu-item:hover,
.ui-menu-item:link,
.ui-menu-item:focus,
.ui-menu-item:active
.ui-menu-item:visited {
    background: #ddd!important;
    border: #ffffff;
    height: 30px!important;
}


.filter {
    float: left;
    margin-left: 20px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: #000000;
}

.filter > div {
    display: block;
    float: left;
    height: 23px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 23px;
}

.filter > input {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    height: 12px;
}

.sort {
    float: right;
    height: 100%;
    padding-bottom: 12px;
    padding-right: 7px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: #000000;
}

.sort > div {
    display: block;
    float: left;
    height: 23px;
    margin-top: 6px;
    font-size: 16px;
    line-height: 23px;
}

#popularity_sort {
    width: 32px;
    height: 27px;
    margin: 4px 0 0 10px;
}

#alpha_sort {
    width: 29px;
    height: 27px;
    margin: 4px 0 0 5px;
}

#alpha_sort > span {
    top: 11px;
    left: 12px;
}

#popularity_sort > span {
    top: 11px;
    left: 12px;
}

.sort_popularity_icon {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(popularity_icon.png) !important;
}

.sort_alpha_icon {
    display: block;
    width: 23px;
    height: 23px;
    background-image: url(alpha_icon.png) !important;
}

.ui-button-icon-only .ui-icon {
    top: 12px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    padding: inherit;
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
}

/* About */

#home-about {
    margin: 1.5em 0 1em 0;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

/* Books */

#content {
    margin-bottom: 15px;
}

table.display td {
    cursor: pointer;
    * cursor: hand;
}

input {
    width: 15em;
    padding: 1em 0.625em;
    border: 1px solid #d9dbdd;
    font-size: 1em;
    outline: none;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    border-radius: 0.3125em;
    font-family: 'RobotoLight'; 
}

input:hover,
input:focus {
    border: 1px solid #bbbdbe;
}

::-webkit-input-placeholder {
    color: #858d9c;
}

:-moz-placeholder {
    color: #858d9c;
}

.ui-autocomplete {
    background: #ffffff
}

.ui-autocomplete {
    width: 14.7em;
}

/* Cover */

h1 {
    font-weight: bold;
    font-size: 250%;
    margin-top: 10px;
}

h2 {
    font-weight: bold;
    font-size: 200%;
    line-height: 80%;
    margin-bottom: 15px;
}

#cover {
    float: left;
    margin: 1em;
}

#cover img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.698);
}

img.cover-art {
    max-width: 100%;
}

div.bibrec {
    float: left;
}

table.bibrec {
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
    font-size: 120%;
    background: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-spacing : 0;
    border-collapse : collapse;
}

table.bibrec th {
    background: #DDDDDD;
    border: 1px solid #BBBBBB;
    padding: 4px;
    spacing: 0px;
}

table.bibrec td {
    border: 1px solid #BBBBBB;
    padding: 4px;
}

div.bibrec img {
    margin: 1em;
}

.text {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
}

.main {
    padding-left: 5em;
    padding-right: 5em;   
}


.bolder {
    font-family: "RobotoBold";  
    margin-top: 10px;
}

.light {
    font-family: "RobotoThin";
    font-size: 19px;
}

.data-table {
    font-family: "RobotoRegular";
    font-size: 15px;
    width: 900px!important;
}

tr {
    padding: 20px;
}

.table-title {
    font-family: RobotoCondensedBold;
    font-size: 1.4em;
}

.table-author {
    font-family: "RobotoLight";    
    color: rgba(43, 34, 34, 0.88);
}

div.list-stripe {
    width: 10px;
    min-height: 65px;
    background: #D00000;
    float: left;
    margin-right: 20px;
}

tr.odd {
    background-color: white!important;
}

table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
    background-color: whitesmoke!important;
}

.title-div {
    padding-top: 25px;
    float: left;
    width: 100%;
    text-align: center;
}


.top-title {
    font-family: "RobotoCondensedRegular";
    font-size: 40px;
    color: white;
}

.sub-title {
    font-family: "RobotoThin";
    font-size: 19px;
    color: white;

}

.fa-3x {
    height: inherit;
    color: white;
    margin-top: 12px;
    padding-right: 20px;
    cursor: pointer;
    * cursor: hand;
}

.fa-3x:hover {
    color: black;
}

.fa-2x {
    color: #D00000;
    font-size: 3em!important; 
    padding-right: 10px;
}

.fa-2x:hover {
    color: black;
}

dataTables_wrapper
.dataTables_length,
.dataTables_wrapper
.dataTables_filter,
.dataTables_wrapper
.dataTables_info,
.dataTables_wrapper
.dataTables_processing,
.dataTables_wrapper
.dataTables_paginate {
    padding-top: 3em;
    width: 100%;
    text-align: center;
}

.table-icons {
    text-align: right;
    vertical-align: middle;
}


.l10nselector{
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 10px 21px;
}

button {
     background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #D9DBDD;
    margin-left: 20px;
    height: 25px;
    margin-top: 12px;
    border-radius: 0.3125em;
    width: 10em;
}

button:hover {
    background: whitesmoke!important;
}