@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;
}

