name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-scraper:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: scraper/pyproject.toml
          architecture: x64

      - name: Install dependencies (and project)
        working-directory: scraper
        run: |
          pip install -U pip
          pip install -e .[test,scripts]

      - name: Run the tests
        working-directory: scraper
        run: inv coverage --args "-vvv"

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-scraper:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: scraper/pyproject.toml
          architecture: x64

      - name: Ensure we can build Python targets
        working-directory: scraper
        run: |
          pip install -U pip build
          python3 -m build --sdist --wheel

  build-and-test-zimui:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ui
        run: |
          npm ci

      - name: Test
        working-directory: ui
        run: |
          npm run test:unit

      - name: Build
        working-directory: ui
        run: |
          npm run build

      - name: Start web server
        working-directory: ui
        run: |
          npm run preview &

      - name: Wait for web server to be ready
        run: |
          npx wait-on http://localhost:4173

  build_docker:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Ensure we can build the Docker image
        run: |
          docker build -t gutenberg .

      - name: Ensure we can start the Docker image
        run: |
          docker run --rm gutenberg
